<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Nuxt SSR</a>
  
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li>
        <nuxt-link exact no-prefetch active-class="active" class="nav-link" to="/">Home</nuxt-link>
        <!-- <a class="nav-link" href="#">Home</a> -->
      </li>
      <li class="nav-item" v-if="hasToken">
        <nuxt-link active-class="active" class="nav-link" to="/about">About</nuxt-link>
        <!-- <a class="nav-link" href="#">About</a> -->
      </li>
      <li class="nav-item">
        <nuxt-link active-class="active" class="nav-link" to="/users">Users</nuxt-link>
        <!-- <a class="nav-link" href="#">About</a> -->
      </li>
      <li class="nav-item" v-if="!hasToken">
        <nuxt-link active-class="active" class="nav-link" to="/login">Login</nuxt-link>
        <!-- <a class="nav-link" href="#">About</a> -->
      </li>
      <li class="nav-item" v-else>
        <a @click.prevent="logout" class="nav-link" href="#">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</template>

<script>
export default {
  computed: {
    hasToken() {
      return this.$store.getters.hasToken
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('logout')
      this.$router.push('/login')
    }
  }
}
</script>